a:not([href]) {
    ERROR: 'This <a> element is not focusable because it lacks an href attribute';
}

/* the below block is used to highlight the presence of the error in the interface itself  */

a:not([href]) {
  outline: 0.25em solid red;
}